* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background: #5c5b5c;
}

h1,h2,td,th,h3,h4,h5, a {
    font-family: 'Balsamiq Sans', cursive;
}

label.error {
    color: darkred;
}


header {
    width: 100%;
    height: 300px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(266, 95%, 48%, 0.705), hsla(0, 100%, 51%, 0.733)), rgba(247, 3, 3, 0.856);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(0, 84%, 42%), hsl(0, 95%, 44%)), rgba(247, 3, 3, 0.856);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}

.content-carrousel img{
    width: 110%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

.titulo {
    color: #f8f6f8;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.peliculas {
    display: flex;
    flex-wrap: wrap;
}

.pelicula {
    width: 25%;
    margin-top: 20px;
}

.pelicula img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pelicula .detalle {
    padding: 5px;
}

.pelicula .contenedor-pelicula {
    background-color: white;
    width: 80%;
    margin: auto;
}


.conte {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 0.5px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    margin-left: 50px;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

header .textos-header{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor {
    padding: 10px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/*CONTENIDO PRINCIPAL*/


main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos h2{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #5c5b5c;
    
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(204, 4, 4, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria h2{
    color: #fff;
}

.hover-galeria h5{
    color: #fff;
}

.hover-galeria h3{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


/*FOOTER*/

footer{
    background: #2e2d2d;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #c70606;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fcf9f9;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

/*FIN FOOTER*/


input[type=text], input[type=email],
input[type=number], select, textarea {

    width: 100%;
    padding: 5px;

}

textarea {
    resize: none;
}

.button {
    padding:5px 10px;
    color: white;
    background-color: #2B6CB0;
    border: none;
    border-radius: 5px;
}

.formulario_contacto {
    width: 500px;
    margin-top:50px;
}


/*MEDIA QUERIES*/


/*Tablets*/
@media (max-width: 1024px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }
    .producto {
        width: 50%;
    }

    .formulario_contacto {
        width: 100%;
    }
}

/*Smartphone*/
@media (max-width: 480px) {

    .galeria {
        grid-template-columns: 1fr;
    }

    .menu {
        display:block;
    }

    @keyframes animacion_producto_mobile {
        0% {
            transform: scale(0.1); /*0-1*/
            /*opacity: 0 - 1*/
        }

        80% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .producto {
        width: 100%;
        animation: animacion_producto_mobile 0.8s;
    }

    header {
        flex-direction: column;
        height: 60px;
        overflow: hidden;
        transition: all 0.6s;
       
        
    }
    #contenido {
        margin-top: 60px;
    }

    header > div {
        width: 100%;
    }

    .contenedor_logo {
        justify-content: center;
        margin-top:10px;
    }

    nav {
        justify-content: center;
    }

    nav > ul {
        margin:0;
    }

    nav > ul > li {
        display: block;
        margin:0;
        text-align: center;
        padding:20px 0;
    }

}
